<div class="container">
  <div class="header">
    <h2>Todo List</h2>
    <button mat-button class="create-btn" routerLink="/create">Create Todo</button>
  </div>
    
    <table class="todo-table">
        <tr>
            <th>S.No</th>
            <th>User ID</th>
            <th>Title</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tbody *ngFor="let item of todoData">
        <tr >
            <td>{{item.id}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.title}}</td>
            <td>{{item.completed == true ? "Completed" : "Incompleted"}}</td>
            <td>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <span>Update</span>
                    </button>
                    <button mat-menu-item>
                      <span>Delete</span>
                    </button>
                  </mat-menu>                  
            </td>
        </tr>
    </tbody>
    </table>
</div>